<section class="row full-page">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label>Login</label><br />
        <input type="text" name="login"/>
      </div>
      <div class="form-group">
        <label>Senha</label><br />
        <input type="password" name="senha"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary">Enviar</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 dragon-background">

  </div>
</section>