<section class="row full-page">
  <div class="col-md-6">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <h3 class="mt-4 mb-4">Show me the dragons!</h3>
        <form (ngSubmit)="sendLogin()" [formGroup]="loginForm">
          <div class="form-group">
            <label>Login</label><br />
            <input class="form-control" type="text" formControlName="login" name="login"/>
            <small class="form-text text-muted">User padrão: admin</small>
          </div>
          <div class="form-group">
            <label>Senha</label><br />
            <input class="form-control" type="password" formControlName="senha" name="senha"/>
            <small class="form-text text-muted">Senha admin:: teste123</small>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6 dragon-background">

  </div>
</section>