<div class="row full-page">
    <div class="col-md-6 cadastrar-dragoes voltar">
      <div class="overflow">
        <a href="" class="main-link" [routerLink]="['/dragons']">Voltar</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <form [formGroup]="formEdit" (ngSubmit)="sendForm()">
            <legend>{{formTitle}}</legend>
            <div class="form-group">
              <label>Nome do dragão</label><br />
              <input class="form-control" placeholder="Nome do dragão" type="text" formControlName="name" name="name"/>
            </div>
            <div class="form-group">
              <label>Tipo do dragão</label><br />
              <input class="form-control" placeholder="Tipo do dragão" type="text" formControlName="type" name="type"/>
              <small class="form-text text-muted">Água, fogo, gelo...</small>
            </div>
            <div class="form-group">
              <label>Histórias em que o dragão aparece</label><br />
              <input class="form-control" placeholder="Senhor dos anéis, harry potter" type="text" formControlName="histories" name="histories"/>
              <small class="form-text text-muted">Separe por vírgula</small>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>